@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Caveat', cursive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('/img/augustine-wong-3Om4DHcaAc0-unsplash.jpg');
	background-repeat: no-repeat;
	background-attachment:;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.welcome {
	background-color: red;
}

.navfont {
	font-family: 'Concert One', cursive;
}

.bgHome {
	background-image: url('/img/augustine-wong-3Om4DHcaAc0-unsplash.jpg');
	background-repeat: no-repeat;
	background-attachment:;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
}