.body {
	background-image: url('/img/kelly-sikkema-dgVSuJu58C0-unsplash.jpg');
	background-repeat: no-repeat;
	background-attachment:;
	background-size: cover;
	background-position: center center;
	width: 100%;
	/*height: 100%;*/
	height: 100vh;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
 	.body {
    background-image: url('/img/kelly-sikkema-dgVSuJu58C0-unsplash.jpg');
	background-repeat: no-repeat;
	background-attachment:;
	background-size: cover;
	background-position: center center;
	width: 100%;
	/*height: 100%;*/
	height: 100vh;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .body {
    background-image: url('/img/kelly-sikkema-dgVSuJu58C0-unsplash.jpg');
	background-repeat: no-repeat;
	background-attachment:;
	background-size: cover;
	background-position: center center;
	width: 100%;

	/*height: 100%;*/
	height: 100vh;
  }
}